@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fea2cf;
  --foreground: #fea2cf;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Inter, Arial, Helvetica, sans-serif;
}

.logo {
  font-family: DynaPuff;
  color: #fea2cf;
}

.dynapuff {
  font-family: DynaPuff;
}

.active-link {
  color: #fec4ef;
}